<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Easypass</display-name>
  <filter>
    <filter-name>AuthentificationFilter</filter-name>
    <filter-class>fr.easypass.filters.AuthentificationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AdministrationFilter</filter-name>
    <filter-class>fr.easypass.filters.AdministrationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>GroupAdminFilter</filter-name>
    <filter-class>fr.easypass.filters.GroupAdminFilter</filter-class>
  </filter>
  <filter>
    <filter-name>GroupMemberFilter</filter-name>
    <filter-class>fr.easypass.filters.GroupMemberFilter</filter-class>
  </filter>
  <filter>
    <filter-name>PasswordOwnerFilter</filter-name>
    <filter-class>fr.easypass.filters.PasswordOwnerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthentificationFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <url-pattern>/utilisateur/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdministrationFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GroupMemberFilter</filter-name>
    <url-pattern>/utilisateur/groupes/voir/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GroupAdminFilter</filter-name>
    <url-pattern>/utilisateur/groupes/editer/*</url-pattern>
    <url-pattern>/utilisateur/groupes/supprimer/*</url-pattern>
    <url-pattern>/utilisateur/groupes/admin-utilisateur/*</url-pattern>
    <url-pattern>/utilisateur/groupes/ajouter-utilisateur/*</url-pattern>
    <url-pattern>/utilisateur/groupes/supprimer-utilisateur/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PasswordOwnerFilter</filter-name>
    <url-pattern>/utilisateur/mots-de-passes/editer/*</url-pattern>
    <url-pattern>/utilisateur/mots-de-passes/supprimer/*</url-pattern>
  </filter-mapping>
</web-app>